<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>傻狗物联WIFI配网</title>
  <meta charset='UTF-8'>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" type="text/css" href="/index.css" />
</head>


<body>
  <div class="box">
    <div class="tit">傻狗物联</div>
    <div class="desc">--- 微信:javakit ----</div>
    <div class="tit sm">请选择一个WIFI</div>
    <div class="wifi-b" id="wifiList">
      <!--WIFI列表-->
    </div>
  </div>
  <div id="footer">
    <div class="scan" onclick="scanWifi()">扫描WIFI</div>
  </div>
  <div id="loading" style="display:none"></div>
  <!--弹窗-->
  <div class="msg-box" id="msgBox" style="display:none">
    <div class="msg">
      <div class="msg-tit">请填写以下信息<span id="close" onclick="msgBox('hide')">×</span></div>
      <div class="ipt-box">
        <span class="label">SSID</span>
        <input type="text" id="ssid" value="" placeholder="SSID" readonly="readonly" />
      </div>
      <div class="ipt-box" id="wifiLock">
        <span class="label">密码</span>
        <input type="text" id="passwd" value="" placeholder="请输入WIFI密码" />
      </div>

      <div class="ipt-box s">
        <input type="button" id="submit" value="确&emsp;定" onclick="submit()" />
      </div>
    </div>
  </div>
  <div class="msg-box" id="alertBox" style="display:none;z-index:999999;">
    <div class="msg">
      <div class="msg-tit">系统提示</div>
      <div class="alert-content" id="abContent">我是提示消息</div>
      <div class="ipt-box s1">
        <input type="button" class="okbtn" id="okBtn" value="确定" onclick="" />
      </div>
    </div>
  </div>
</body>
<script type="text/javascript" src="/promise.min.js"></script>
<script type="text/javascript">
  var wifissid = "";
  var wifiLock = true;  //WIFI是否有密码
  function loading(type, timeout, step) {
    if (type == 'hide') {
      document.getElementById("loading").style = "display:none";
      if (!step) {
        document.getElementsByClassName("scan")[0].innerHTML = "扫描WIFI";
        document.getElementsByClassName("scan")[0].className = "scan";
        document.getElementsByClassName("sm")[0].innerHTML = "请选择一个WIFI";
      }
      document.getElementById("submit").className = "";
      document.getElementsByClassName("s")[0].style = "";
    } else if (type == 'show') {
      document.getElementById("loading").style = "";
      if (!step) {
        document.getElementsByClassName("scan")[0].innerHTML = "正在扫描...";
        document.getElementsByClassName("scan")[0].className = "scan s-disabled";
        document.getElementsByClassName("sm")[0].innerHTML = "正在扫描WIFI...";
      } else {
        document.getElementById("submit").className = "disabled";
        document.getElementsByClassName("s")[0].style = "border-color:#eee";
      }
      if (timeout > 0) {
        setTimeout(function () {
          loading('hide');
        }, timeout)
      }
    }
  }

  function selectSSID(ssid, state) {
    wifissid = ssid;
    wifiLock = state;
    msgBox('show');
  }
  function alertBox(msg, funcName, hide) {
    document.getElementById("abContent").innerHTML = msg;
    document.getElementById("okBtn").setAttribute("onclick", funcName ? funcName : 'hideAlertBox()');
    if (hide) {
      document.getElementById("alertBox").style = "display:none;z-index:999999;";
    } else {
      document.getElementById("alertBox").style = "z-index:999999;";
    }
  }
  function hideAlertBox() {
    document.getElementById("alertBox").style = "display:none;z-index:999999;";
  }
  function msgBox(type) {
    if (wifiLock) {
      document.getElementById("wifiLock").style = "display:block";
    } else {
      document.getElementById("wifiLock").style = "display:none";
    }
    if (type == 'hide') {
      document.getElementById("msgBox").style = "display:none";
      document.getElementById("passwd").value = "";
      document.getElementById("ssid").value = "";
    } else {
      document.getElementById("ssid").value = wifissid;
      document.getElementById("msgBox").style = "";
      document.getElementById("submit").className = "";
      document.getElementsByClassName("s")[0].style = "";
    }
  }

  function submit() {
    if (document.getElementById("submit").className == 'disabled') {
      //alertBox('请休息一会不要一直点');
      return
    }
    var passwd = document.getElementById("passwd").value;
    var ssid = document.getElementById("ssid").value;
    if (!wifissid) {
      msgBox('hide');
      alertBox('请从WIFI列表选择一个WIFI');
      return;
    }
    if (!ssid) {
      alertBox('请输入SSID');
      document.getElementById("ssid").focus();
      return;
    }
    let params = 'passwd=' + passwd + '&ssid=' + wifissid;
    loading('show', 0, 2);
    post('/info.html', params, function (data) {
      loading('hide');
      if (data == 'error') {
        msgBox('hide'); //隐藏弹窗
        alertBox("配网失败请重试");
        return
      }
      let obj = JSON.parse(data);
      if (obj.code == 200) {
        msgBox('hide'); //配网成功
        document.getElementById("wifiList").innerHTML = "";
        document.getElementById("footer").style = "display:none;";
        document.getElementsByClassName("sm")[0].innerHTML = (obj.message);

        alertBox(obj.message);
      } else {
        msgBox('hide'); //隐藏弹窗
        alertBox("配网失败请重试");
      }
    });

  }

  var wifissid = "";
  var wifiLock = true;  //WIFI是否有密码
  function loading(type, timeout, step) {
    if (type == 'hide') {
      document.getElementById("loading").style = "display:none";
      if (!step) {
        document.getElementsByClassName("scan")[0].innerHTML = "扫描WIFI";
        document.getElementsByClassName("scan")[0].className = "scan";
        document.getElementsByClassName("sm")[0].innerHTML = "请选择一个WIFI";
      }
      document.getElementById("submit").className = "";
      document.getElementsByClassName("s")[0].style = "";
    } else if (type == 'show') {
      document.getElementById("loading").style = "";
      if (!step) {
        document.getElementsByClassName("scan")[0].innerHTML = "正在扫描...";
        document.getElementsByClassName("scan")[0].className = "scan s-disabled";
        document.getElementsByClassName("sm")[0].innerHTML = "正在扫描WIFI...";
      } else {
        document.getElementById("submit").className = "disabled";
        document.getElementsByClassName("s")[0].style = "border-color:#eee";
      }
      if (timeout > 0) {
        setTimeout(function () {
          loading('hide');
        }, timeout)
      }
    }
  }

  function selectSSID(ssid, state) {
    wifissid = ssid;
    wifiLock = state;
    msgBox('show');
  }
  function alertBox(msg, funcName, hide) {
    document.getElementById("abContent").innerHTML = msg;
    document.getElementById("okBtn").setAttribute("onclick", funcName ? funcName : 'hideAlertBox()');
    if (hide) {
      document.getElementById("alertBox").style = "display:none;z-index:999999;";
    } else {
      document.getElementById("alertBox").style = "z-index:999999;";
    }
  }
  function hideAlertBox() {
    document.getElementById("alertBox").style = "display:none;z-index:999999;";
  }
  function msgBox(type) {
    if (wifiLock) {
      document.getElementById("wifiLock").style = "display:block";
    } else {
      document.getElementById("wifiLock").style = "display:none";
    }
    if (type == 'hide') {
      document.getElementById("msgBox").style = "display:none";
      document.getElementById("passwd").value = "";
      document.getElementById("ssid").value = "";
    } else {
      document.getElementById("ssid").value = wifissid;
      document.getElementById("msgBox").style = "";
      document.getElementById("submit").className = "";
      document.getElementsByClassName("s")[0].style = "";
    }
  }
  function submit() {
    if (document.getElementById("submit").className == 'disabled') {
      //alertBox('请休息一会不要一直点');
      return
    }
    var passwd = document.getElementById("passwd").value;
    var ssid = document.getElementById("ssid").value;
    if (!wifissid) {
      msgBox('hide');
      alertBox('请从WIFI列表选择一个WIFI');
      return;
    }
    if (!ssid) {
      alertBox('请输入SSID');
      document.getElementById("ssid").focus();
      return;
    }
    let params = 'passwd=' + passwd + '&ssid=' + wifissid;
    http_post("/info.html",params).then(function onFulfilled(data) {
      let obj = JSON.parse(data);
      if (obj.code == 200) {
        msgBox('hide'); //配网成功
        document.getElementById("wifiList").innerHTML = "";
        document.getElementById("footer").style = "display:none;";
        document.getElementsByClassName("sm")[0].innerHTML = (obj.message);
        alertBox(obj.message);
      } else {
        msgBox('hide'); //隐藏弹窗
        alertBox("配网失败请重试");
      }
    });
  }

  /**
   * 
   */
  function http_post(url,data) {
    return new Promise(function (resolve, reject) {
      loading('show', 0, 2);
      var xhr = new XMLHttpRequest();
      xhr.open('post', url, true);
      if(data){
        xhr.setRequestHeader('content-type', 'application/x-www-form-urlencoded');
      }
      xhr.timeout = 30000; // 超时时间，单位是毫秒
      xhr.ontimeout = function () {
        msgBox('hide');
        loading('hide');
        alertBox('请求超时');
        reject(null);
      }
      xhr.onreadystatechange = function () {
        if (xhr.readyState == 4 && xhr.status == 200) {
          loading('hide');
          msgBox('hide');
          resolve(xhr.responseText)
        } else if (xhr.status != 200) {
          loading('hide');
          msgBox('hide');
          reject(null);
        }
      }
      xhr.onerror = function () {
        loading("hide");
        msgBox('hide');
        reject(new Error(req.statusText));
      };
      xhr.send(data);
    });
  }
  function http_get(url) {
    return new Promise(function (resolve, reject) {
      loading("show");
      var req = new XMLHttpRequest();
      req.open('GET', url, true);
      req.onload = function () {
        if (req.status == 200) {
          loading("hide");
          resolve(req.responseText);
        } else {
          loading("hide");
          let data = '{"code":200,"message":"ok","wifi":[]}';
          reject(data);
        }
      };
      req.onerror = function () {
        loading("hide");
        reject(new Error(req.statusText));
      };
      req.send();
    });
  }

  function scanWifi() {
    if (document.getElementsByClassName("s-disabled")[0]) {
        //alertBox('正在扫描中请不要一直点');
        return
      }
    http_get("/wifi.html").then(function onFulfilled(data) {  
      let obj = JSON.parse(data);
      if (obj.code !== 200) {
        document.getElementById("wifiList").innerHTML = "";
        document.getElementsByClassName("sm")[0].innerHTML = (obj.message || "获取WIFI列表错误");
        return
      }
      document.getElementsByClassName("sm")[0].innerHTML = "请选择一个WIFI";
      let arr = obj.wifi;
      let html = '';
      for (let i in arr) {
        let wifi = arr[i];
        let lock = wifi.authmode != 0 ? '<i class="lock"></i>' : '';  //是否带锁
        let type = wifi.authmode != 0 ? true : false;
        html += '<div class="wifi-li" onclick="selectSSID(\'' + wifi.ssid + '\',' + type + ')">' +
          '<span class="sname">' + wifi.ssid + '</span><span class="right">' + lock + '<i class="ico">&raquo;</i></span>' +
          '</div>';
      }
      document.getElementById("wifiList").innerHTML = html;

    });
 
  }
  scanWifi();

</script>

</html>